.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(146, 219, 146);
    gap:10px;
    padding:15px;
}
.title>div>img{
    width: 35%;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    gap:10px;
    padding:25px;
    width: 30%; 
    color:white;  
    text-decoration: none;
    border-radius: 5px;
}
.nav>a>div{
    color: white;
}
.nav>a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
.nav>a:hover{
    background-color: rgb(0, 145, 255);
    color: white;
    padding: 5px;
    border-radius: 5px;
}
#home{
    background:thistle;
    background-size:cover ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 10px
}
#home>.head{
    font-size: 100px;
    font-weight: bold;
    color:rgb(57, 121, 57)
}
#home>.subhead{
    font-size: 80px;
    color: greenyellow;
}
#home>.desc{
    font-size: 30px;
    padding: 0px 50px;
    text-align: center;
    color: darkblue;
}
.footer{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    color: rgb(254, 254, 254);
    width: 100%;
    padding: 10px;
}
